#album-art {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	opacity: 0.1;
	pointer-events: none;
}
#album-art.bring-to-front {
	opacity: 1; 
	overflow-y: auto;
	position: absolute;
	pointer-events: all;
}
.collage-container {
	width: calc(100% + 100px);
	height: 100%; 
}

.am-wrapper{
	float:left;
	position:relative;
	overflow:hidden;
}
.am-wrapper img{
	position:absolute;
	outline:none;
}

.album-art {
	float: left;
	overflow: hidden;
	position: relative;
	width:100px;
	height:100px;
}
.album-art img:hover {
	box-shadow: 0 0 8px black;
}
.album-art:hover {
	box-shadow: 0 0 16px white;
	z-index: 1;
}

#art-selection {
	display: none;
}

#loading {
	position: fixed;
	color: white;
	top: 0;
	left: 30%;
	width: 40%;
	z-index: 1;
	text-align: center;
}
#loading a {
	color: white;
}

.art-selection {
	box-shadow: 0 0 10px white;
	background-color: black;
	color: white;
	padding: 10px 20px;
	position: fixed;
	z-index: 2;
}

.view-art {
	cursor: pointer;
}
.view-art.art-selection {
	top: 0;
	right: 0;
}

#hide-collage {
	bottom: 10px;
	right: 0;
	font-size: 18pt;
}

#hide-collage:hover {
	cursor: pointer;
}

#playlists {
	padding: 0;
}

#playlists li{
	display: inline-block;
	margin: 4px 20px 4px 0;
}

#song-details {
	bottom: 10px;
	left: 0;
}