.featured-sound {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.5);
}
.featured-sound .left, .featured-sound .right {
    float:none;
    display: inline-block;
    vertical-align: top;
}
.featured-sound .left {
    width: calc(25% - 10px);
    min-width: 100px;
}
.featured-sound .right {
    width: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    word-break: break-word;
    overflow-y: auto;
    padding: 10px 5px;
}
.featured-sound .featured-sound-description-cell {
    position: relative;
    vertical-align: top;
    height: 70%;
    overflow-y: auto;
}
.featured-sound .featured-sound-description {
    position: absolute;
    padding-right: 10px;
}
.featured-sound .featured-sound-title {
    margin-top: 0;
}
.featured-sound .full-art {
    margin-bottom: 0;
}

@media(max-width: 768px){
    .featured-sound .left, .featured-sound .right{
        width: 100%;
        position: relative;
    }
    .featured-sound .right {
        height: 20em;
    }
    .featured-sound .featured-sound-title{
        display:none;
    }
/*    .featured-sound .featured-sound-description {
        position: static;
    }*/
}