.player .now-playing {
    height: 40px;
    width: calc(100% - 210px);
}
.player .current-sound {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    height: 100%;
    position: relative;
    white-space: nowrap;
    padding: 11px 0 0 0;
}

.player {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 500;
    background-color: rgba(24, 24, 24, 0.85);
    background-color: #181818;
    border-color:#080808;
    font-size: 1.35rem;
}

.player>div {
    max-width: 1280px;
}
.player ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    float: left;
    overflow: hidden;
}
.player li, .player .time, .player .timeline {
    float: left;
    margin: 0 8px;
}
.player li > a, .player .time > a {
    padding: 15px 0;
    line-height: 20px;
}
.player a {
    color: #999;
    display: block;
}
.player a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.soundcloud-controls a.disabled:hover, .soundcloud-controls a.disabled {
    cursor: auto;
    color: #333;
}
.player a.read-post {
    float: left;
    margin-right: 5px;
}

.soundcloud-controls a.enabled {
    color: #999;
}

.soundcloud-controls a.on {
    color: #DF5C00;
}

.player .time {
    min-width: 32px;
    max-width: 40px;
    text-align: right;
}
.player .time a:hover{
    cursor: auto;
    color: #999;
}
@media (max-width: 768px) {
    .player .timeline, .player .time {
        display: none;
    }
    .player .current-sound {
        max-width: 100%;
    }
}
.timeline {
    position: relative;
    width: calc(100% - 330px);
    height: 50px;
    cursor: pointer;
    background-color: #181818;
}
.timeline .line {
    -webkit-mask-size: 100% 100%;
    background-color: #181818;
    height: 100%;
    width: 100%;
}
.timeline .line-container {
    position: relative;
    height: 32px;
    margin-top: -16px;
    top: 50%;
    pointer-events: none;
    background-color: #555;
}
.playhead, .loadhead {
    height: 100%;
    background-color: #999;
    position: absolute;
    pointer-events: none;
}
.loadhead {
    background-color: #555;
}

.player .now-playing .current-sound a {
    line-height: 1.2;
    padding: 0;
}
.player .now-playing-from {
    color: #777;
    font-size: x-small;
}