<div id="sound-{{id}}" class="sound">
	<div class="full-art">
        <h3><a target="_blank" href="{{permalink_url}}" title="View {{title}} by {{user.username}} on SoundCloud">{{title}}</a></h3>
        <a data-id="{{id}}"
        {{#if playing_from}}data-playing-from="{{playing_from}}"{{/if}}
        class="sound-link"
        href="{{permalink_url}}"
        title="Play {{title}} by {{user.username}}">
            <img src="{{#if artwork_url}}{{artwork_url}}{{else}}{{user.avatar_url}}{{/if}}"/>
        </a>
    </div>
</div>
