<div class="col-md-6">
    <div class="full-art">
        <h3 class="username"><a target="_blank" href="{{permalink_url}}" title="Click to play songs by {{username}} &#013;Ctrl + click to visit their Soundcloud">{{username}}</a></h3>
        <a target="_blank" href="{{permalink_url}}" title="Click to play songs by {{username}} &#013;Ctrl + click to visit their Soundcloud"><img src="{{avatar_url}}"/></a>
    </div>
    <!--<iframe class="track-frame" src="http://w.soundcloud.com/player/?url={{permalink_url}}&liking=true&sharing=true" width="100%" scrolling="no" frameborder="no"></iframe>-->
</div>