{{ partial "head.html" . }}

<body>
	<div id="app">
	{{ partial "nav.html" . }}
	<div id="wrapper">
		<div id="content" class="content">
			<header class="header">
				<div class="row">
					<div class="col col-md-6">
						<div class="page-title">
							<h1><span id="title">{{ .Title }}</span> <span id="singular">{{ .Data.Singular }}</span></h1>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="page-tagline">
							<p><span id="description">{{ .Description | markdownify }}</span>
								{{ $baseurl := .Site.BaseURL }}
								{{ range .Params.series }}<br /> <a class="series-link" href="series/{{ . | urlize }}">{{ . }}</a></p>
								{{end}}
						</div>
					</div>
				</div>
			</header>
			<div id="main">