<nav class="rr-navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <a class="brand push-state" href="/">rickyrombo</a>
        <button type="button" class="navbar-toggle collapsed" data-target=".rr-collapseable" class="rr-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="rr-nav rr-nav-main rr-collapseable no-redirect">
            <li><a class="push-state" href="music">music</a></li>
            <li><a class="push-state" href="favorites">favorites</a></li>
            <li><a class="push-state" href="followings">followings</a></li>
            <li><a class="push-state" href="about">about</a></li>
        </ul>

        <ul class="rr-nav rr-nav-social rr-collapseable">
            <li>
                <a target="_blank" href="http://soundcloud.com/rickyrombo" title="RickyRombo on Soundcloud">
                    <i class="fa fa-music"></i><span class="social-text visible-xs-inline">soundcloud</span>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://facebook.com/therickyrombo" title="RickyRombo on Facebook">
                    <i class="fa fa-facebook"></i><span class="social-text visible-xs-inline">facebook</span>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://twitter.com/rickyrombo" title="RickyRombo on Twitter">
                    <i class="fa fa-twitter"></i><span class="social-text visible-xs-inline">twitter</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
