<div class="row">
    <section class="col-md-9">
        <p>I'm RickyRombo. I make music sometimes. I write lots of code. I also play some Super Smash Bros. - Project Melee.</p>
        <p>I discovered electronic music as a side effect of making computer games. One of the game developers in a chatroom posted a link to deadmau5's 4x4=12 Continuous Mix on YouTube. I gave it a listen and quickly realized I wanted to make music like that.</p>
        <p>I might have drifted from deadmau5's style since then, but I still aim to make music for the listener. Not for the festivals, or raves, or dances, but the coders, the writers, and future artists at their computer. I write music for the people who take long walks or car rides, for those taking the bus, and for those who want to escape reality while they work.</p>
        <p>That said, I've had a couple performances as part of <a title="UNL DJ Club Website" href="http://unldjclub.herokuapp.com">UNL DJ Club</a>, and I enjoy a good party.</p>
    </section>
    <section class="col-md-3">
        <p><img src="img/dj.jpg"/></a></p>
    </section>
</div>