<section class="recent-tracks-section">
    <h2>Most Recent on Soundcloud</h2>
    <div id="tracks" class="tracks">
            {{#each recent_sounds}}
                {{#if_mod @index 2 0}}
                    <div class="row">
                {{/if_mod}}
                    {{>sound}}
                {{#if_mod @index 2 1}}
                    </div>
                {{/if_mod}}
            {{/each}}
    </div>
</section>
<section class="all-tracks-section">
    <h2>Other tracks</h2>
    {{#each other_sounds}}
        {{#if_mod @index 4 0}}
            <div class="row">
        {{/if_mod}}
            {{#if_mod @index 2 0}}
                <div class="pair col-md-6">
            {{/if_mod}}
            {{>sound}}
            {{#if_mod @index 2 1}}
                </div>
            {{/if_mod}}
        {{#if_mod @index 4 3}}
            </div>
        {{/if_mod}}
    {{/each}}
</section>