<div id="content" class="content">
	<header class="header">
		<div class="row">
			<div class="col col-md-6">
				<div class="page-title">
					<h1>{{ title }}</h1>
				</div>
			</div>
			<div class="col col-md-6">
				<div class="page-tagline">
					{{#each tagline }}
					<p>{{{ this }}}</p>
					{{/each}}
				</div>
			</div>
		</div>
	</header>
	<div id="main">
		{{{ main }}}
	</div>
</div>
<footer id="footer" class="footer">
    <p>All cover art and music is provided using <a target="_blank" title="Soundcloud.com" href="http://soundcloud.com">Soundcloud</a>
        Background cover art are those of <a target="_blank" title="View on Soundcloud" href="http://soundcloud.com/rickyrombo/favorites">RickyRombo's favorites</a></p>
    <p>Copyright &copy;2015 Marcus Pasell - All Rights Reserved</p>
</footer>